html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    background: var(--dark-bg);
    color: var(--dark-text);
    min-height: 150uh;
}

.virtually hidden {
    position: absolute;
    left: -100000%;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}