.card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

    .card__subtittle {

    }

    .card__count {

    }

    .card__change {
        
    }
}